{% extends '::base.html.twig' %}

{% block body %}
    <p>this template must be overwriten. Set "templatePath" in the crud configuration of "{{ crudName }}"</p>

    <p>but here a demonstration:</p>

    {{ form(form) }}

{% endblock body %}