<p>
    This is <code>list.html.twig</code>.
</p>
<p>
    Configure a template path like this:
</p>
<pre>
    crud_name:
        […]
        controller:
            templatePaths:
                - '<strong>YourBundle:Crud:</strong>'
</pre>
<p>
    Then you can overwrite it by creating
    <code><strong>YourBundle</strong>/Resources/views/<strong>Crud/list.html.twig</strong></code>
</p>
<p>
    It could look something like this:
</p>
<pre>
    {%- raw %}
    {% for entity in list %}
        Say hallo to the <strong>{{ crudName }}</strong> Entity: <strong>"{{ entity.name }}"</strong>
    {% endif %}
    {% endraw -%}
</pre>